.container{
    text-align:center;

}
table{
    margin:auto;
}
input{
    font-size:20px;
    size: 200px;
    border-radius: 10px;
}
button{
    font-size:25px;
    background: rgb(206, 130, 44);
    width: 60px;
    height: 50px;
    text-decoration: transparent;
    border-radius: 5px;
    font-size:28px;
    font-family:'Courier New',Courier,monospace;
}
.calculator{
    display: inline-block;
    border: 3px solid burlywood;
    border-color: rgba(82, 153, 35, 0.521);
    border-radius: 20px;
    padding: 10px;
    background-color:rgb(83, 55, 3)
}
h1{
    font-size:28px;
    font-family:'Courier New',Courier,monospace;
}
body{
    background-color: rgb(236, 200, 153);
}